#container .button {
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin: auto;
  border: 1px solid;
  cursor: pointer;
}
#container {
  width: 500px;
  height: 100px;
  margin: auto;
  border: 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url(./img/src/1.jpeg);
  color: #fff;
}
